.concept {
    height: 100%;
    background: linear-gradient(to bottom, #A193861F 0%,#A193861F 407px, #A1938689 407px,#A1938689 100%);
    @include sp {
        background: linear-gradient(to bottom, #A193861F 0%,#A193861F 176px, #A1938689 176px,#A1938689 100%);
    }
}

.concept-img {
    &_first {
        padding-right: 10px;
        width: 65%;
        box-sizing: border-box;
        object-fit: cover;
        @include sp {
            width: 50%;
            height: 205px;
            object-position: 80%;
        }
    }
    &_second {
        width: 35%;
        max-width: 100%;
        object-fit: cover;
        @include sp {
            width: 50%;
            height: 205px;
        }
    }
}

.concept-desc {
    display: flex;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 30px 0;
    width: 70%;
    align-items: center;
    color: white;
    @include tab {
        display: block;
        width: 90%;
        padding: 50px 0;
    }
    &_text-first {
        width: 440px;
        font-size: 35px;
        letter-spacing: 1.5rem;
        @include tab {
            font-size: 2.4rem;
            width: 320px;
            margin-right: auto;
            margin-left: auto;
        }

    }
    &_text-second {
        font-size: 1.6rem;
        letter-spacing: 1.6px;
        line-height: 1.5;
        width: 40%;
        @include tab {
            margin-top: 10%;
            width: 100%;
        }
        
    }
}


