
// 
// mixin
// 

@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}

@mixin tab {
    @media screen and (max-width: 959px) {
        @content;
    }
}

@mixin sp {
    @media screen and (max-width: 600px) {
        @content;
    }
}


// 
// 共通
// 

.wrap-all {
    overflow: hidden;
}


html {
    font-size: 62.5%;
}

.title-japanese {
    font-size: 3.8rem;
    font-family: 'Noto Serif JP', serif;
}


.title {
    color: #707070;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
}

.border {
    background-color: #707070;
    height: 1px;
    width: 90px;
    margin-left: 22.5px;
}

.inner {
    margin: 0 8%;
    display: flex;
}

.section-name {
    padding-top: 250px;
    padding-bottom: 10px;
    align-items: center;
    @include sp {
        padding-top: 80px;
        padding-bottom: 50px;
    }
}